docs/data-platform/workflows/03-dify-integration-example.json
{
  "name": "n8n+Dify集成示例：智能数据分析",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dify-analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - 接收分析请求",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "dify-integration-webhook"
    },
    {
      "parameters": {
        "jsCode": "// 准备调用Dify的数据\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // 构造Dify API所需的输入格式\n  const difyInput = {\n    inputs: {\n      user_query: data.query || '请分析这些数据',\n      data_content: JSON.stringify(data.data || data, null, 2)\n    },\n    response_mode: 'blocking',\n    user: data.user_id || 'n8n-workflow'\n  };\n  \n  results.push({\n    json: {\n      ...data,\n      _dify_input: difyInput,\n      _original_data: data\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-dify-input",
      "name": "准备Dify输入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DIFY_API_BASE_URL}}/v1/chat-messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.DIFY_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json._dify_input)}}",
        "options": {}
      },
      "id": "call-dify-api",
      "name": "调用Dify Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// 解析Dify返回结果\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const difyResponse = item.json;\n  \n  // 提取Dify的分析结果\n  const analysis = {\n    answer: difyResponse.answer || '',\n    conversation_id: difyResponse.conversation_id || '',\n    message_id: difyResponse.message_id || '',\n    created_at: difyResponse.created_at || new Date().toISOString(),\n    metadata: difyResponse.metadata || {}\n  };\n  \n  // 尝试解析JSON格式的回答（如果Dify返回结构化数据）\n  let parsedAnswer = null;\n  try {\n    parsedAnswer = JSON.parse(analysis.answer);\n  } catch (e) {\n    // 如果不是JSON，保持原始文本\n    parsedAnswer = analysis.answer;\n  }\n  \n  results.push({\n    json: {\n      original_data: item.json._original_data,\n      dify_analysis: analysis,\n      parsed_result: parsedAnswer,\n      processing_time: Date.now() - new Date(item.json._original_data.timestamp || Date.now()).getTime(),\n      status: 'completed'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-dify-response",
      "name": "解析Dify响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// 质量评分\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const analysis = item.json.dify_analysis;\n  const parsedResult = item.json.parsed_result;\n  \n  // 计算质量分数\n  let qualityScore = 0.5; // 基础分\n  \n  // 1. 回答完整性（30%）\n  const completeness = analysis.answer && analysis.answer.length > 50 ? 1.0 : 0.5;\n  qualityScore += completeness * 0.3;\n  \n  // 2. 结构化程度（30%）\n  const isStructured = typeof parsedResult === 'object' && parsedResult !== null;\n  qualityScore += (isStructured ? 1.0 : 0.3) * 0.3;\n  \n  // 3. 响应速度（20%）\n  const responseTime = item.json.processing_time || 0;\n  const speedScore = responseTime < 5000 ? 1.0 : (responseTime < 10000 ? 0.7 : 0.3);\n  qualityScore += speedScore * 0.2;\n  \n  // 4. 元数据完整性（20%）\n  const hasMetadata = analysis.metadata && Object.keys(analysis.metadata).length > 0;\n  qualityScore += (hasMetadata ? 1.0 : 0.5) * 0.2;\n  \n  results.push({\n    json: {\n      ...item.json,\n      quality_score: qualityScore,\n      need_review: qualityScore < 0.7,\n      quality_breakdown: {\n        completeness,\n        structured: isStructured ? 1.0 : 0.3,\n        speed: speedScore,\n        metadata: hasMetadata ? 1.0 : 0.5\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "quality-scoring",
      "name": "质量评分",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.quality_score}}",
              "operation": "larger",
              "value2": 0.7
            }
          ]
        }
      },
      "id": "quality-router",
      "name": "质量路由",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// 保存高质量结果\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  results.push({\n    json: {\n      success: true,\n      message: '分析结果已保存',\n      data: item.json,\n      saved_at: new Date().toISOString()\n    }\n  });\n  \n  console.log('✅ 高质量分析结果已保存');\n}\n\nreturn results;"
      },
      "id": "save-result",
      "name": "保存结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "// 推送人工复核\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const reviewTask = {\n    task_id: `review-${Date.now()}-${Math.random().toString(36).substr(2, 9)}`,\n    created_at: new Date().toISOString(),\n    data: item.json,\n    quality_score: item.json.quality_score,\n    review_reason: '质量评分低于阈值',\n    status: 'pending'\n  };\n  \n  results.push({\n    json: {\n      success: true,\n      message: '已推送人工复核队列',\n      review_task: reviewTask,\n      queued_at: new Date().toISOString()\n    }\n  });\n  \n  console.log('⚠️  低质量结果已推送复核队列');\n}\n\nreturn results;"
      },
      "id": "push-review",
      "name": "推送复核队列",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "响应结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook - 接收分析请求": {
      "main": [
        [
          {
            "node": "准备Dify输入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备Dify输入": {
      "main": [
        [
          {
            "node": "调用Dify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用Dify Agent": {
      "main": [
        [
          {
            "node": "解析Dify响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析Dify响应": {
      "main": [
        [
          {
            "node": "质量评分",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "质量评分": {
      "main": [
        [
          {
            "node": "质量路由",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "质量路由": {
      "main": [
        [
          {
            "node": "保存结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "推送复核队列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存结果": {
      "main": [
        [
          {
            "node": "响应结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "推送复核队列": {
      "main": [
        [
          {
            "node": "响应结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "ljwx-n8n"
  },
  "tags": [
    {
      "name": "Dify集成",
      "id": "1"
    },
    {
      "name": "AI编排",
      "id": "2"
    }
  ]
}
